
<div class="d-flex main-container">
    <span class="sales-heading">
        <div><h6>User and Session Analytics</h6></div>
        <div >
          <span class="material-symbols-outlined">cloud_download</span>
          <span class="material-symbols-outlined">more_horiz</span>
        </div>
      </span>
    <!-- <div><h6>User and Session Analytics</h6></div> -->
    <div style="display: block;">
        <canvas baseChart width="600" height="250"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
    </div>
</div>

<!-- <div class="container">

    <div style="width:50%;">
        <canvas id="myChart" width="2000px" height="3050px" #mychart></canvas>
    </div> -->
    <!-- <div style="width:100%;"> -->
        <!-- <canvas id="myChart" width="700" height="250" #mychart></canvas> -->
     <!-- </div> -->
<!-- </div> -->
<!-- <router-outlet></router-outlet> -->




<!-- <div style="display: block;">
    <canvas baseChart width="400" height="400"
    datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    
    [legend]="lineChartLegend"
    >
    </canvas>
</div> -->
  
<!-- [plugins]="'lineChartPlugins'" -->
<!-- [chartType]="'lineChartType'" -->
<!-- [colors]="lineChartColors" -->
<!-- [box]="box"> -->
