.top-content{
    height: 200px;
    box-sizing: border-box;
    .col-6, .col-3{
        div{
            padding: 5px;
            // background-color: aquamarine;
            height: 76%;
            .row{
                height: 50%;
            }
            
        }
    }
    .col-6{
        div{
            background-color: #5c67ff
            ;
        }
    }
    
    .col-3{
        div{
            background-color: aquamarine;
        }
    }
}
#done-img{
    height: 147px;
    float: left;
}
.done-task{
        display: inline-block;
        text-align: center;
   
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.analytics{
    height: 500px;
    .col-6{
        div{
            padding-top: 10px;
            padding-bottom: 10px;
            height: 90%;
        }
    }
}

.cards{
    .col{
        height: 250px;
        div{
            padding: 10px;
            // background-color: cadetblue;
            height: 90%;
        }
    }
}

.sale-overview{
    height: 400px;
    .col div{
        // background-color: rgb(149, 135, 252);
        padding-top: 10px;
        height: 95%;
    }
}

.sales-heading{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.col-3 .shadow{

}