<div class="container text-center">
  
  <div class="row top-content">
    <div class="col-6">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <img id="done-img" src="../assets/Screenshot (94).png" alt="done-img">
        <div class="done-task text-start text-light">
          <h3>Good Job, Devid</h3>
          <p><small>You have finished all of Your tasks for this week</small></p>
          <p>Finish Dashbord Design</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
          <div class="col data">92.4K <br><small>Page Views</small></div>
          <div class="col img"><span class="material-symbols-outlined">
            pageview
            </span></div>
        </div>
        <div class="row">
          <div style="display: block;">
            <canvas baseChart width="95%" height="95%"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="row">
          <div class="col data">67.2K <br><small>Unique User</small></div>
          <div class="col img"><span class="material-symbols-outlined">
            group
            </span></div>
        </div>
        <div class="row">
          Data
        </div>
      </div>
    </div>
  </div>

  <div class="row analytics">
    <div class="col-6">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <app-chart></app-chart>
        
      </div>
    </div>
    <div class="col-6">
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="product">
              <th mat-header-cell *matHeaderCellDef> PRODUCT </th>
              <td mat-cell *matCellDef="let element"> {{element.product}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>
        
            <!-- date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef> date </th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
    </div>
  </div>

  <div class="row cards">
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <p><span class="material-symbols-outlined">
          group
          </span></p>
        <h4>67.4K</h4>
        <p><small>Users</small> </p>
        <p><span class="material-symbols-outlined text-success">
            arrow_drop_up
            </span>124.4</p>
      </div>
    </div>
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <p><span class="material-symbols-outlined">
          pageview
          </span></p>
        <h4>96.2K</h4>
        <p><small>Sessions</small> </p>
        <p><span class="material-symbols-outlined text-danger">
          arrow_drop_down
          </span>-23.7</p>
      </div>
    </div>
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <p><span class="material-symbols-outlined">
          cloud_off
          </span></p>
        <h4>6.92%</h4>
        <p><small>Bounce Rate</small> </p>
        <p><span class="material-symbols-outlined text-success">
          arrow_drop_up
          </span>23.2</p>
      </div>
    </div>
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <p><span class="material-symbols-outlined">
          timer
          </span></p>
        <h4>16m 48s</h4>
        <p><small>Session Duration</small> </p>
        <p><span class="material-symbols-outlined text-success">
          arrow_drop_up
          </span>34.5</p>
      </div>
    </div>
  </div>

  <div class="row sale-overview">
    <div class="col">
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <span class="sales-heading">
          <div >Sales Overview</div>
          <div >
            <span class="material-symbols-outlined">cloud_download</span>
            <span class="material-symbols-outlined">more_horiz</span>
          </div>
        </span>
        <div class="row">
          <div class="col py-3">
            <h3 class="text-start">4,374</h3>
            <p class="text-start"><b>Sales this month</b></p>
            <p class="text-start"><span class="material-symbols-outlined">
              arrow_drop_up
              </span><span>11% more sales in comparison to last month.</span></p>
            <p class="text-start"><span class="material-symbols-outlined">
              arrow_drop_down
              </span><span>-2% revenue per sale in comparison to last month.</span></p>
              <button class="btn btn-primary w-100">View Details</button>
          </div>
          <div class="col">
            <div style="display: block;">
              <canvas baseChart width="600" height="250"
                [type]="'line'"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [legend]="lineChartLegend">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>